@font-face {
font-family: 'FuturaBT';
    src: url('FuturaBT-BoldItalic.woff') format('woff'), 
    url('Futura Bold Italic font.ttf') format('truetype'); 
} 

body {
    background-color: powderblue;
    font-family: 'FuturaBT';
  }
  h1 {
    color: rgb(51, 51, 184);
  }
  i {
    color: red;
  }
  
 